# NetBox + HTTP
pynetbox>=7.4
requests>=2.32

# Network automation transports / libs
paramiko>=3.4
ncclient>=0.6.15
napalm>=4.1

# Data wrangling / Excel
pandas>=2.2
openpyxl>=3.1
XlsxWriter>=3.2
# If you must read legacy .xls files uncomment:
# xlrd==1.2.0

# Useful filters for Ansible (json_query etc.)
jmespath>=1.0
netaddr>=1.3

# YAML tools frequently used in preprocess scripts
PyYAML>=6.0.1
